._select_box {
	padding: 0px;
}
._select_box_items {
	border: 1px solid black;
	background: #aaa;
	width: 99%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	overflow: auto;
}
._select_box_item {
	padding-top: 2px;
	padding-left: 5px;
	background: #fff;
	border-bottom: solid 1px #aaa;
}
._select_box_item:hover {
	background: #efe;
	border-bottom: solid 1px #bde;
}
._select_box_item_selected {
	border-left: double 3px #f00;
}
