.mze_dialog {
}
.mze_all {
	height: 100%;
	width: 100%;
	position: relative;
}
.mze_main {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 300px;
	background: #fffafa;
	overflow: auto;
}
.mze_sidebar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 300px;
	right: 0px;
}
.mze_side_row1 {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 264px;
	right: 0px;
}
.mze_side_row2 {
	position: absolute;
	bottom: 155px;
	left: 0px;
	right: 0px;
	height: 110px;
}
.mze_side_row3 {
	position: absolute;
	height: 130px;
	left: 0px;
	bottom: 25px;
	right: 0px;
}
.mze_side_row4 {
	position: absolute;
	height: 25px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
.mze_side_row4>button {
	width: 50%;
}
.mze_sidebar_select {
	height: 100%;
	overflow-y: auto;
	background: #eee;
}

.MzRoom {
	border: 4px solid;
	border-color: #aaa;
	position: absolute;
	width: 92px;
	height: 92px;
	float: left;
}
.MzRoom.Selected {
	border-color: #f80;
}
.MzRoomRow {
	height: 103px;
}
.MzWall {
	position: absolute;
	width: 80%;
	height: 20%;
	background: #fff;
	background-size: 100% 100%;
}
.MzWall:hover {
	background-color: #cff;
}
.MzWallWE {
	top: 20%;
	width: 20%;
	height: 60%;
}
.MzWallNS {
	width: 60%;
	height: 20%;
	left: 20%;
}
.MzWallCF {
	width: 40%;
	height: 25%;
	left: 30%;
}
.MzWallWest { background-image: none; }
.MzWallEast { background-image: none; left: 80%; }
.MzWallNorth { background-image: none; }
.MzWallSouth { background-image: none; top: 80%; }
.MzWallCeil { background-image: none; top: 25%; }
.MzWallFloor { background-image: none; top: 50%; }
.MzWallCeil-red {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAMElEQVQ4jWNgGAWjAAf4z8Dw/z8Dw/+BdgftAMyHhPBAu5N8QKwPh28IjIJRQCoAAA6XO8UQmDESAAAAAElFTkSuQmCC");
}
.MzWallCeil-yellow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAMklEQVQ4jWNgGAUjBvz/z/CfHpjuDqB7CNA9Csi2kFwHUM1CYh1AMwtxOYBuFo6CIQcA0fUk6iIslNQAAAAASUVORK5CYII=");
}
.MzWallCeil-black {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAMklEQVQ4jWNgGAUjBjg4OPynB6a7A+geAnSPArItJNcBVLOQWAfQzEJcDqCbhaNgyAEAyjmrH9SI1Y4AAAAASUVORK5CYII=");
}
.MzWallFloor-red {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAJUlEQVQ4jWNgGAWjYMSA/wwM/6mBB9of5IPh70NCYPj7cBRQCgDS/DvFdZ+kRQAAAABJRU5ErkJggg==");
}
.MzWallFloor-yellow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAOklEQVQ4jWNgGAWjAAf4/5/h////DP/pbiE6pruFNHMAsRZSzQHkWki2A6hlIdEOoJWFdEuEo2DQAQBdESTq+zc3twAAAABJRU5ErkJggg==");
}
.MzWallFloor-black {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAOklEQVQ4jWNgGAWjAAdwcHD47+Dg8J/uFqJjultIMwcQayHVHECuhWQ7gFoWEu0AWllIt0Q4CgYdAADhQqsfvj9oRwAAAABJRU5ErkJggg==");
}

.MzWallNorth-yellow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAJ0lEQVQ4jWNgGAUjEvz/z/CfmnhALCXa8lGLh7/FtLCcKEtHwbADAKqwwE64H5acAAAAAElFTkSuQmCC");
}
.MzWallNorth-red {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAMElEQVQ4jWNgGAWjAAf4z8Dw/z8Dw/+BdgftAMyHhPBAu5N8QKwPh28IjIJRQCoAAA6XO8UQmDESAAAAAElFTkSuQmCC");
}
.MzWallNorth-black {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAIklEQVQ4jWNgGAUjFfynMh4QS4m2fNTi4W8xLSwfBSMQAADvK5VrvOUOCgAAAABJRU5ErkJggg==");
}
.MzWallSouth-yellow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAJ0lEQVQ4jWNgGAUjEvz/z/CfmnhALCXa8lGLh7/FtLCcKEtHwbADAKqwwE64H5acAAAAAElFTkSuQmCC");
}
.MzWallSouth-red {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAJUlEQVQ4jWNgGAWjYMSA/wwM/6mBB9of5IPh70NCYPj7cBRQCgDS/DvFdZ+kRQAAAABJRU5ErkJggg==");
}
.MzWallSouth-black {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAADzun+cAAAAIklEQVQ4jWNgGAUjFfynMh4QS4m2fNTi4W8xLSwfBSMQAADvK5VrvOUOCgAAAABJRU5ErkJggg==");
}
.MzWallWest-yellow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAALUlEQVQ4jWNgGAUMDAwMDP//M/xHx2RrJNqAUc2jmkc1j2oeYM24DCBK4wgAAM1TwE5OF4VXAAAAAElFTkSuQmCC");
}
.MzWallWest-red {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAALElEQVQ4jWNgGAWDCPxnYPg/UjTDNI0Ezeia6KcZlyEjQTO6ISNJ8yigIgAAoT07xe6EHNcAAAAASUVORK5CYII=");
}
.MzWallWest-black {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAAJ0lEQVQ4jWNgGAUw8B8LJlsj0QaMah7VPKp5VPMAa8ZlwChgYGAAAFAglWum7NvpAAAAAElFTkSuQmCC");
}
.MzWallEast-yellow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAALUlEQVQ4jWNgGAUMDAwMDP//M/xHx2RrJNqAUc2jmkc1j2oeYM24DCBK4wgAAM1TwE5OF4VXAAAAAElFTkSuQmCC");
}
.MzWallEast-red {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAALElEQVQ4jWNgGAWDAPxnYPg/UjWTZcgw0UySIVTVTBIY4prJAkNU8yigAQAAwR07xTgMsxQAAAAASUVORK5CYII=");
}
.MzWallEast-black {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAAJ0lEQVQ4jWNgGAUw8B8LJlsj0QaMah7VPKp5VPMAa8ZlwChgYGAAAFAglWum7NvpAAAAAElFTkSuQmCC");
}


.MzE_floors_color{
	width: 30px;
	height: 14px;
	border: 1px solid black;
}
.MzE_event_remove {
	width: 30px;
	height: 14px;
	border: 1px solid black;
  font-size: 50%;
	text-align: center;
	border-radius: 4px;
	background: #faa;
}
.MzE_event_add {
	background: #aaf;
	width: 100%;
	height: 100%;
}
.MzE_ExpImp>textarea {
	width: 100%;
	height: 100%;
}
